* {
  margin: 0 !important;
  /* line-height: 1; */
}

@font-face {
  src: url(fonts/High-Speed.otf);
  font-family: myFirstFont;
}

h4{
  font-family: myFirstFont;
}

.covertb{
  align-items: center;
}
.currency-options{
  width: 200px;
  text-align: center;
  margin-top: 10px;
  height: 30px;
  border-radius: 5px;
}
.currency-options:hover{
  box-shadow: 0 3px 10px rgb(0 0 0 /0.2);
}
:root{
  --text-primary:#000;
  --bgPrimary:#222222;
  --bgSecondary: #222222;
  --light-blue: #e6f7ff;
  --border: #d9d9d9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*app.js*/
a:hover{
  color: bisque!important;
}
.app{
  display: flex;
  overflow: hidden;
  height: 100vh;
}

.navbar{
  height: 100px;
}

.main{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.routes{
  background-color: unset;
  background: url("./images/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  flex: 1;
}

/*navbar*/
.ant-menu {
  background-color: var(--bgPrimary) !important;
  display: flex;
  width: 65%;
}

.nav-container{
  left: 0;
  margin: 0px;
  background-color: var(--bgPrimary);
  width: 100%;
  display:flex;
  align-items: center;
  padding: 20px;
}

@media screen and (max-width:800px){
  .app{
      flex-direction: column;
      overflow: hidden;
  }

  /* .navbar{
      flex: 1;
  } */

  .main{
      flex: 1;
      margin-top: 90px;
      margin-left: 0px;
      margin-right: 10px;
  }

  .nav-container{
    height: 8vh;
    position:fixed;
    width: 100%;
    z-index: 100;
    background-color: var(--bgSecondary);
}

  .menu-control-container{
      display: block !important;
  }

  .home-title{
      font-size: 1.4rem !important;
  }
  .show-more{
      font-size: 1.3rem !important;
  }
}
/*news*/
.news-card{
  min-height: 300px !important;
}
.news-image-container{
  display: flex !important;
  justify-content: space-between !important;
}
.news-title{
width: 70%;
}

.news-image-container .img{
  width:100px;
  height:100px;
}
.news-card p{
  color: black;
  margin: 10px 0px !important;
}
.provider-container{
  float: right;
}
.provider-name{
  margin-left: 10px;
}
/*homepage*/
.home-heading-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
.show-more{
  margin-top: 0px !important;
}
/*cryptocurrencies*/
.search-crypto{
  margin: 20px auto 30px auto;
  width: 250px;
}
.crypto-card-container{
  min-height: 65vh !important;
}
.crypto-card{
  min-width: 250px;
}
.crypto-card .crypto-image{
  width:35px;
}
/*footer*/
.footer {
  background-color: var(--bgPrimary);
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}

.ant-card-body {
  /* border: solid; */
  height: 250px;
}

.ant-card-body > div {
  /* border: solid; */
  height: 200px;
}

.ant-skeleton-content .ant-skeleton-paragraph {
  height: 100%;
}

.ant-skeleton-paragraph {
  display: flex;
  flex-direction: column;
  gap: 20px;
}