@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0 !important;
  box-sizing: border-box;
  -webkit-user-drag: none;
  line-height: 1;
  font-family: "Kanit", serif;
  --antd-wave-shadow-color: #B9BCCD !important;
}

::-webkit-scrollbar {
  display: none;
}

:root{
  --text-primary:#000;
  --bgPrimary:#0e1716cc;
  --bgSecondary: #222222;
  --light-blue: #e6f7ff;
  --border: #d9d9d9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*app.js*/
a:hover{
  color: #B9BCCD!important;
}

.app{
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  background: url("./images/bg.svg");
  backdrop-filter: blur(10px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
}

.routes{
  flex: 1 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/**************************/
/*  antd Rules Overriding  */
/**************************/

.ant-card-extra {
  width: 100%;
}

.ant-skeleton-content .ant-skeleton-paragraph {
  height: 100%;
}

.ant-skeleton-paragraph {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.home-home, .show-more {
  color: #B9BCCD !important;
}

.ant-card-head {
  border-bottom: none !important; /* Removes the border */
  color: #B9BCCD !important;
}

.ant-card-body {
  padding-top: 0px !important;
  height: 75%;
}

.ant-select-selector {
  background-color: #20252694 !important;
  color: #B9BCCD !important;
  fill: #B9BCCD !important;
  border:1px solid #ffffff29 !important;
}

.ant-input {
  color: #B9BCCD !important;
}

@media (max-width: 640px) {
  .crypto-card-container {
    width: 80%;
  }
}

@media (max-width: 1024px) {
  .crypto-card-container {
    max-width: 650px;
  }
}